.protected-image-list {
  .gorillascode-content {
    max-width: 1250px;
  }

  .gorillascode-content-background {
    display: none;
  }

  .filters {
    margin-bottom: 48px;

    .tags {
      margin-right: 16px;

      .icon {
        margin-right: 16px;
      }

      md-autocomplete {
        input {
          width: 300px;
        }
      }
    }
  }

  .upload-thumbnail {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-bottom: 16px;
    margin-right: 16px;
    width: 100px;
  }

  .image {
    display: inline-block;
    position: relative;
    width: 400px;

    .file-upload-progress {
      background-color: rgba(255, 255, 255, 0.8);
      bottom: 0;
      left: 0;
      padding: 140px 20px 0 20px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .actions {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.54), transparent);
      display: none;
      height: 65px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .select {
        padding: 12px 0 0 12px;

        .md-icon {
          border-color: rgba(255, 255, 255, 0.87);
        }
      }

      md-icon {
        color: rgba(255, 255, 255, 0.87);
      }
    }

    .image-file {
      background-color: #000;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      display: block;
      height: 100px;
      overflow: hidden;
      padding-bottom: 50%;
      width: 100%;
    }

    md-card-content {
      padding-bottom: 0;

      .tags-list {
        .tags {
          .tag {
            display: inline-block;
            border-radius: 6px;
            font-size: 14px;
            margin-right: 8px;
            padding: 6px 10px;

            a {
              color: inherit;
            }
          }
        }

        .add-button {
          padding: 7px 0;
        }

        .edit-button {
          margin-top: -6px;
        }
      }

      .image-url {
        margin: 8px 0 16px 0;

        input {
          font-size: 14px;
          height: 24px;
        }

        .md-errors-spacer {
          display: none;
        }
      }
    }
  }

  .image:hover {
    .actions {
      display: flex;
    }
  }

  .image.selected {
    border: 4px solid #4285f4;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

    .actions {
      display: flex;
    }
  }
}

.tag-dialog {
  @media (min-width: 600px) {
    width: 600px;
  }
}