<div class="gorillascode-content gorillascode-content-no-background">
  <div class="filters">
    <div layout="row" layout-align="center center" class="tags">
      <div class="icon">
        <md-icon md-font-icon="material-icons" aria-label="Pesquisar">search</md-icon>
      </div>
      <div flex>
        <md-chips ng-model="imageListCtrl.filters.tag"
                  md-on-remove="imageListCtrl.changeFilters()"
                  md-on-select="imageListCtrl.changeFilters()">
          <md-autocomplete
              md-search-text="searchText"
              md-items="tag in imageListCtrl.imageTags"
              md-item-text="tag"
              md-autofocus
              placeholder="Pesquise por tags">
            <span md-highlight-text="searchText">{{tag}}</span>
          </md-autocomplete>
        </md-chips>
      </div>
    </div>
  </div>

  <div ng-show="imageListCtrl.selectedFiles.length" style="margin-bottom: 48px;">
    <div layout="row">
      <div flex style="margin-right: 16px;">
        <md-chips ng-model="imageListCtrl.selectedFilesTags">
          <md-autocomplete
              md-search-text="searchText"
              md-items="tag in imageListCtrl.imageTags"
              md-item-text="tag"
              md-autofocus
              placeholder="Adicione uma ou mais tags. Por exemplo: celular">
            <span md-highlight-text="searchText">{{tag}}</span>
          </md-autocomplete>
        </md-chips>
      </div>
      <div>
        <md-button ng-click="imageListCtrl.startFilesUpload()" class="md-raised md-primary">
          Enviar
        </md-button>
      </div>
    </div>

    <div ng-repeat="file in imageListCtrl.selectedFiles">
      <div layout="row" layout-align="center center">
        <div>
          <div ngf-thumbnail="file" ngf-as-background="true"
               class="upload-thumbnail" style=""></div>
        </div>

        <div>{{file.name || file.$ngfName}}</div>

        <div flex style="padding: 8px;">
          <span ng-bind-html="file.image.url | linky:'_blank'"></span>
          <span ng-show="file.error">{{file.error}}</span>

          <md-progress-linear ng-show="file.uploadProgress > 0 && file.uploadProgress < 100"
                              md-mode="determinate"
                              value="{{file.uploadProgress}}"></md-progress-linear>
        </div>

        <div>
          <md-button ng-click="imageListCtrl.removeFileFromUpload($index)">Excluir</md-button>
        </div>
      </div>
    </div>
  </div>

  <div layout="column" layout-gt-xs="row">
    <div flex class="gorillascode-results-count">
      <div ng-show="imageListCtrl.images.result.length">
        Exibindo
        <ng-pluralize count="imageListCtrl.images.limit"
                      when="{'0': 'Nenhuma imagem', 'one': '1 imagem', 'other': '{{imageListCtrl.images.limit | number}} imagens'}"></ng-pluralize>
      </div>
    </div>

    <div ng-show="imageListCtrl.getSelectedImages().length">
      {{imageListCtrl.getSelectedImages().length | number}} imagen(s) selecionada(s)
      <md-button ng-click="imageListCtrl.deleteImages(imageListCtrl.getSelectedImages(), $event)">
        Excluir selecionadas
      </md-button>
    </div>
  </div>

  <div class="images">
    <div ng-show="!imageListCtrl.loading && !imageListCtrl.images.result.length">
      <div class="gorillascode-no-results">Nenhuma imagem</div>
    </div>

    <div ng-show="imageListCtrl.images.result.length">
      <div ng-repeat="image in imageListCtrl.images.result track by image.id"
           class="gorillascode-animate image">
        <div layout="row" layout-align="center center">
          <div>
            <md-checkbox ng-model="image.selected" aria-label="Selecionar imagem"></md-checkbox>
          </div>

          <div class="image-file"
               ng-style="{ backgroundImage: 'url(' + image.file.url + ')' }"></div>

          <div flex>
            <span ng-bind-html="image.url | linky:'_blank'"></span>

            <div ng-show="image.tags.length" class="tags">
              <div ng-repeat="tag in image.tags track by tag.id" class="gorillascode-animate tag"
                   md-colors="{background: 'primary'}">
                <div class="value">
                  <a ui-sref="protected.image.list({ tag: tag.tag })">{{tag.tag}}</a>
                </div>

                <div ng-click="imageListCtrl.deleteImageTag(tag, image, $index)" class="delete">
                  <span>x</span>
                  <md-tooltip>Remover tag</md-tooltip>
                </div>
              </div>
            </div>
          </div>

          <div>
            <md-button clipboard text="image.url" on-copied="imageListCtrl.imageUrlCopied()"
                       on-error="imageListCtrl.imageUrlCopyError(err)" class="md-icon-button">
              <md-icon md-font-icon="material-icons" aria-label="Copiar link">content_copy</md-icon>
              <md-tooltip>Copiar o link</md-tooltip>
            </md-button>
          </div>

          <div>
            <md-button ng-click="imageListCtrl.deleteImages([image], $event)"
                       class="md-icon-button">
              <md-icon md-font-icon="material-icons" aria-label="Excluir">delete</md-icon>
              <md-tooltip>Excluir</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>

    <gorillascode-pagination gorillascode-controller="imageListCtrl"></gorillascode-pagination>
  </div>
</div>

<md-button class="md-fab md-fab-bottom-right md-fab-fixed md-primary"
           ngf-select ngf-drop
           ngf-allow-dir="true"
           ngf-accept="'image/*'"
           ngf-capture="'camera'"
           ngf-change="imageListCtrl.selectFiles($files)"
           ngf-drag-over-class="{accept:'acceptClass', reject:'rejectClass'}"
           ngf-fix-orientation="true"
           ngf-multiple="true"
           ngf-pattern="'image/*'">
  <md-icon md-font-icon=" material-icons" aria-label="Adicionar imagens">add_a_photo</md-icon>
  <md-tooltip md-direction="left">Adicionar imagens</md-tooltip>
</md-button>