.protected-image-list {
  .gorillascode-content {
    max-width: 100%;
  }

  .gorillascode-content-background {
    display: none;
  }

  .filters {
    margin-bottom: 48px;

    .tags {
      .icon {
        margin-right: 16px;
      }
    }
  }

  .upload-thumbnail {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-bottom: 16px;
    margin-right: 16px;
    width: 100px;
  }

  .image {
    display: inline-block;
    width: 400px;

    .select {
      padding: 12px;
      position: absolute;
    }

    .image-file {
      background-color: #000;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100px;
      overflow: hidden;
      padding-bottom: 50%;
      width: 100%;
    }

    md-card-content {
      .tags-list {
        .tags {
          .tag {
            display: inline-block;
            border-radius: 6px;
            font-size: 14px;
            margin-right: 8px;
            padding: 2px 0 2px 8px;

            .value {
              display: inline-block;

              a {
                color: inherit;
              }
            }

            .delete {
              border-left: 1px solid;
              display: inline-block;
              margin-left: 2px;
              padding: 0 8px;
              cursor: pointer;
            }
          }
        }
      }
    }

    md-card-actions {
      .image-url {
        margin: 0;

        .md-errors-spacer {
          display: none;
        }
      }
    }
  }
}

.tag-dialog {
  @media (min-width: 600px) {
    width: 600px;
  }
}