.protected-image-list {
  .gorillascode-content {
    max-width: 100%;
  }

  .gorillascode-content-background {
    display: none;
  }

  .upload-thumbnail {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-right: 16px;
    width: 100px;
  }

  .image {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 100px;
    margin: 0 16px 16px 0;
    overflow: hidden;
    padding: 8px;
    width: 100px;
  }
}