.protected-home {
  .gorillascode-content-background {
    display: none;
  }

  .md-subhead {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 32px;
  }

  .social-links {
    margin-top: 64px;
    text-align: center;

    img {
      margin-right: 16px;
    }
  }
}