<div class="gorillascode-content gorillascode-content-no-background">
  <div ng-show="!dashboardCtrl.selectedAccount">
    <div class="gorillascode-no-results">
      <p>
        Você ainda não possui conta do <strong>Mercado Livre</strong> associada ao
        <strong>MeuML.com</strong>
      </p>

      <p>
        Para ver o seu dashboard você deve primeiro adicionar uma conta do <strong>Mercado
        Livre</strong>
      </p>

      <md-button ui-sref="protected.account.list" class="md-raised md-accent">
        Ir para a tela de contas
      </md-button>
    </div>
  </div>

  <div ng-show="dashboardCtrl.selectedAccount">
    <div class="filters">
      <md-input-container class="md-block">
        <label>Conta</label>

        <md-select ng-model="dashboardCtrl.selectedAccount"
                   ng-model-options="{trackBy: '$value.id'}"
                   md-on-close="dashboardCtrl.changeFilters()">
          <md-option ng-value="account" ng-repeat="account in dashboardCtrl.accounts.result">
            {{account.name}} - {{account.external_data.nickname}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div>
      // TODO gráficos
    </div>
  </div>
</div>

<md-button ng-show="dashboardCtrl.selectedAccount" ng-click="dashboardCtrl.refresh()"
           ng-disabled="dashboardCtrl.refreshing" class="md-fab md-fab-bottom-right">
  <md-icon md-font-icon="material-icons" aria-label="Atualizar dashboard">refresh</md-icon>
  <md-tooltip md-direction="left">Atualizar dashboard</md-tooltip>
</md-button>