<div class="gorillascode-content gorillascode-content-no-background">
  <div ng-show="!planListCtrl.loading && !planListCtrl.plans.result.length">
    <div class="gorillascode-no-results">
      <p class="md-title">Nenhum plano</p>
    </div>
  </div>

  <div ng-show="planListCtrl.plans.result.length" layout="column" layout-gt-xs="row" class="plans">
    <md-card ng-repeat="plan in planListCtrl.plans.result track by plan.id" flex class="plan"
             ng-class="{ current: protectedCtrl.user.subscription.plan_id == plan.id }">
      <md-card-title>
        <md-card-title-text>
          <div class="name">{{plan.name}}</div>

          <div ng-show="plan.price" class="price">
            R$ <span class="value">{{plan.price | currency:''}}</span>/mês
          </div>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <md-list>
          <md-list-item>
            <md-icon md-font-icon="material-icons" aria-label="Imagens">photo_library</md-icon>
            <p>{{plan.max_images | number}} imagens</p>
          </md-list-item>

          <md-list-item ng-show="protectedCtrl.user.subscription.plan_id == plan.id">
            <md-icon md-font-icon="material-icons" aria-label="Data">today</md-icon>
            <p>
              Válido até {{protectedCtrl.user.subscription.end_date | date:'mediumDate'}}
            </p>
          </md-list-item>
        </md-list>

        <div
            ng-show="protectedCtrl.user.subscription.plan_id == plan.id && protectedCtrl.user.subscription.status == 'PENDING'"
            layout="row">
          <div flex>Pendente de pagamento</div>

          <md-button ng-click="planListCtrl.paySubscription()" class="md-raised md-accent">
            Pagar
          </md-button>
        </div>
      </md-card-content>

      <md-card-actions layout="column" layout-align="end">
        <md-button ng-show="plan.price && protectedCtrl.user.subscription.plan_id != plan.id"
                   ng-click="planListCtrl.subscribe(plan, $event)" class="md-raised md-accent">
          Assinar
        </md-button>

        <md-button ng-show="protectedCtrl.user.subscription.plan_id == plan.id">
          Plano atual
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>