.protected-plan-list {
  .gorillascode-content {
    max-width: 800px;
  }

  .gorillascode-content-background {
    display: none;
  }

  .plans {
    .plan {
      md-card-title {
        background-color: #4caf50;
        color: #fff;
        flex: initial;
        height: 100px;
        margin-bottom: 24px;
        text-align: center;

        .name {
          font-size: 34px;
        }

        .price {
          margin-top: 8px;

          .value {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }

    md-card-content {
      flex: 1;
    }

    .plan:nth-of-type(2) {
      md-card-title {
        background-color: #2196f3;
      }
    }

    .plan:nth-of-type(3) {
      md-card-title {
        background-color: #f44336;
      }
    }

    .plan.current {
      border: 3px solid #536dfe;
    }
  }
}