.protected-plan-list {
  .gorillascode-content {
    max-width: 800px;
  }

  .gorillascode-content-background {
    display: none;
  }

  .plans {
    .plan {
      md-card-title {
        background-color: #4caf50;
        color: #fff;
        text-align: center;
        margin-bottom: 24px;
        height: 100px;
      }
    }

    .plan:nth-of-type(2) {
      md-card-title {
        background-color: #2196f3;
      }
    }

    .plan:nth-of-type(3) {
      md-card-title {
        background-color: #f44336;
      }
    }
  }
}