.protected-account-list {
  .gorillascode-content-background {
    display: none;
  }

  .gorillascode-content {
    max-width: 600px;
  }

  md-card {
    margin: 0;

    .md-avatar {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}